*HIGH RAM USAGE ALERT - JETSON MONITORING*

━━━━━━━━━━━━━━━━━━━━━━━━
*Alert Type:* High RAM Usage
*Instance:* {{ instance }}
*Severity:* {{ severity }}
*RAM Usage:* {{ value }} MB
*Time:* {{ startsAt }}
━━━━━━━━━━━━━━━━━━━━━━━━

Hey Wisevision team, the RAM has surpassed 13GB.

{{ description }}

*Status:* {{ status }}

