global:
  resolve_timeout: 5m
templates:
  - '/etc/alertmanager/templates/*.tmpl'
route:
  receiver: telegram
  group_by: []         
  group_wait: 10s
  group_interval: 1m
  repeat_interval: 1h

receivers:
  - name: telegram
    webhook_configs:
      - url: http://telegram-webhook:5000/webhook
        send_resolved: false

inhibit_rules: []


