global:
  resolve_timeout: 5m

route:
  receiver: 'email-alerts'
  group_wait: 30s
  group_interval: 5m
  repeat_interval: 1h

receivers:
  - name: 'email-alerts'
    email_configs:
      - to: '${ALERT_TO}'
        from: '${SMTP_USER}'
        smarthost: '${SMTP_HOST}:${SMTP_PORT}'
        auth_username: '${SMTP_USER}'
        auth_identity: '${SMTP_IDENTITY}'
        auth_password: '${SMTP_PASS}'
        require_tls: true
