services:
  prometheus:
    image: prom/prometheus:latest
    container_name: prometheus
    ports:
      - "9090:9090"
    volumes:
      - ./prometheus/prometheus.yml:/etc/prometheus/prometheus.yml
      - ./prometheus/alert_rules.yml:/etc/prometheus/alert_rules.yml
      - ./prometheus/data:/prometheus
    networks:
      - monitoring
    depends_on:
      - pushgateway
      - alertmanager
    restart: unless-stopped

  pushgateway:
    image: prom/pushgateway:latest
    container_name: pushgateway
    ports:
      - "9091:9091"
    networks:
      - monitoring
    restart: unless-stopped

  alertmanager:
    image: prom/alertmanager:latest
    container_name: alertmanager
    ports:
      - "9093:9093"
    volumes:
      - ./alertmanager/alertmanager.yml:/etc/alertmanager/alertmanager.yml
    networks:
      - monitoring
    restart: unless-stopped

  grafana:
    image: grafana/grafana:latest
    container_name: grafana
    ports:
      - "3000:3000"
    environment:
      - GF_SECURITY_ADMIN_USER=${GF_SECURITY_ADMIN_USER}
      - GF_SECURITY_ADMIN_PASSWORD=${GF_SECURITY_ADMIN_PASSWORD}
    volumes:
      - ./grafana/provisioning:/etc/grafana/provisioning
      - ./grafana/dashboards:/var/lib/grafana/dashboards
      - ./grafana/data:/var/lib/grafana
    networks:
      - monitoring
    depends_on:
      - prometheus
    restart: unless-stopped

  whatsapp_webhook:
    build: ./Whatsapp_webhook
    container_name: whatsapp_webhook
    environment:
      - WHATSAPP_TOKEN=${WHATSAPP_TOKEN}
      - WHATSAPP_NUMBER=${WHATSAPP_NUMBER}
      - WHATSAPP_PHONE_ID=${WHATSAPP_PHONE_ID}
      - TEMPLATE_NAME=${TEMPLATE_NAME}
      - TEMPLATE_CODE=${TEMPLATE_CODE}
    ports:
      - "5000:5000"
    networks:
      - monitoring
    restart: unless-stopped

  mlflow_exporter:
    build: ./mlflow_exporter
    container_name: mlflow_exporter
    ports:
      - "8000:8000"
    environment:
      - MLFLOW_METRICS_URL=${MLFLOW_METRICS_URL}
      - MLFLOW_HEALTH_URL=${MLFLOW_HEALTH_URL}
      - MLFLOW_CONTAINERS_URL=${MLFLOW_CONTAINERS_URL}
    networks:
      - monitoring
    restart: unless-stopped

networks:
  monitoring:
    driver: bridge
