global:
  scrape_interval: 5s

scrape_configs:
  - job_name: "jetson_remote"
    static_configs:
      - targets: ["pushgateway:9091"]
rule_files:
  - 'alert_rules.yml'

alerting:
  alertmanagers:
    - static_configs:
        - targets:
            - 'alertmanager:9093'
 